.projects-main-container {
  border: 3px solid var(--border-main-color);
  border-radius: 15px;
  padding: 10px;

  font-family: var(--font-prime);
}

.projects-main-container-text {
  height: fit-content;
}

h2:before {
  content: '> ';
  color: var(--text-color-hacker);
}
