<div class="navigation-main-container">
  <div class="navigation-main-container-list">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/home" ariaCurrentWhenActive="page"><i class="pi pi-home"></i></a></li>
      <li routerLinkActive="active">
        <a routerLink="/projects" ariaCurrentWhenActive="page"><i class="pi pi-hashtag"></i></a></li>
      <li routerLinkActive="active">
        <a routerLink="/vita" ariaCurrentWhenActive="page"><i class="pi pi-list"></i></a></li>
      <li routerLinkActive="active">
        <a routerLink="/contact" ariaCurrentWhenActive="page"><i class="pi pi-user"></i></a></li>
      <li routerLinkActive="active">
        <a routerLink="/impressum" ariaCurrentWhenActive="page"><i class="pi pi-info"></i></a></li>
    </ul>
  </div>
</div>
